*{
    box-sizing: border-box;
    font-family: "Lucida Console", "Roboto", monospace;

}


.he{
    height: auto;
    background-color: black;
    width: 100%;
}
.he .containers{
  padding: 5px 0px;
    height: auto;
    display: inline-block;
    width: 100%;
    
   
}
.he .pro{
   padding-left: 112px;
   font-weight: bold;
}


.pro a{
    color: #e0d4d4f0;
    float: left;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 14px;
    border: none;
    text-decoration: none;
}
.pro a:hover{
    color: #e0d4d4f0;
    border: none;
    text-decoration: none;
}

.he .navbar{
    padding-top: 13px;
  
    font-size: 17px;
}
 .nav-item .nav-link{
     color: #e0d4d4f0;
     padding-left: 5px;
     margin-right: 10px;
     font-size: 15px;
     font-weight: bold;
 }
 .nav-item .nav-link:hover{
     color: rgb(25, 25, 223);
     border-bottom: 3px solid rgb(25, 25, 223);
 }
.navbar-nav .active>.nav-link{
    color: rgb(25, 25, 223);
    border-bottom: 3px solid rgb(25, 25, 223);
}


 .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
}

@media screen and (max-width:991px){
    .he #jhg{      
        display: none;       
    }
  
    .he{
        width: 100%;
        margin: 0%;
        padding: 0%;
    }
}
@media screen and (max-width:767px){
    .he{
        position: relative;
        height: auto;   display: inline-block;
    }
    .he nav{
        width: 100%;
        margin: 0%;
        text-align: justify;
        display:flex;
    }
   .he .na{
        float: none !important;
        position: relative;
     height: auto;
            width: 100% !important;
  
            right: 0%;
            left: 0%;
        
    }
    .he .containers {
 
    height: auto;
    padding-bottom: 15px;
    }
    .na .navbar-toggler{
        position: absolute;
        top: 3%;
        right: 0%;
       
    }
    .na .navbar-nav{
        padding-top: 35px;
    }
    .na .navbar-nav li{
        background: #908686;
        border-bottom: 1px solid snow;
        word-break: break-all;
    }
}

/* End of he*/

.ss{
    height: 397px;
    width: 100%;

    display: inline-block;
    text-align: center;
}
.ss img{
    max-height: 100%;
    width: 100%;
}

/* End of ss*/

.mak{
    width: 100%;
    height: auto;
    text-align: center;    padding-bottom: 30px;
}
.mak h1{
    font-weight: bolder;
    color: black;
    padding-top: 100px;
    padding-bottom: 30px;font-size: 50px;
}
 .container-fluid{
    height: auto;
    padding-bottom: 70px;
}
.container-fluid .row{
    height: auto;
}
.rss p {
    color: black;
    font-weight: bolder;
  
}
.rss .inr{
    padding-top: 100px;
    margin: 0% auto;
    text-align: center;
}

form .mnb{
    width: 100%;
    height: auto;
    
}
 .mnb input{
   width: 100%;
   height: 45px;
   padding-left: 20px;
   margin-bottom: 20px;
    
}
.rss2 textarea{
    width:100%;
    
    padding-left: 20px;
    margin-bottom: 20px;
}
.rss2 button{
    width: 100%;
    height: 45px;
    padding-left: 6px;
    margin-bottom: 20px;
    background-color: black;
    color: white; 
    border: none;
    font-weight: bold;
    transition:   transform .5s;
}
.rss2 button:hover{
    transform: scale(1.1,1.1);
    background-color: #1acf33;
}

 .inrs{
    padding-top: 100px;
    padding-left: 50px; 
     
     text-align: center;
     margin: 0% auto;
  
}

.inrs a{
    color: black;
    font-size: 50px;
    padding-right: 10px;
     display: inline-block;
}
.inrs a i:hover{
    background-color: #1acf33;
   
}












.s13{
    height: auto;
    width: 100%;
    background-color: #ededed;
    text-align: center;
    padding-bottom: 70px;
}
.s13 .s13s1{
    margin: 0% auto;
    padding-top: 100px;
    text-align: center;
    max-width: 570px;
}
.s13 .s13s1 h1{
    font-size: 45px;
    padding-bottom: 10px;
}
.s13 #sa{
    font-size: 45px;padding-bottom: 10px; padding-top: 20px;
}

.s13 .s13s1 button{
    padding: 20px 40px;
    color: white;
    background-color: #d6a664;
    font-weight: bold;
    border-radius: 0px 0px 0px 0px;
    border: none;
    font-size: 20px; 
    transition: background-color .35s;
}
.s13 .s13s1 button:hover{
    background-color:#b37a2b ;
}
@media screen and (max-width:353px){
    .s13 .s13s1 h1{
        font-size: 36px;
    }
}
@media screen and (max-width:289px){
    .s13 .s13s1 button{
        font-size: 13px;
    }
    .s13 .s13s1 h1{
        font-size: 25px;
    }
}
@media screen and (max-width:188px){
    .s13 .s13s1 h1{
        font-size: 22px;
    }
    .s13 #sa{
        font-size: 25px;
    }
}

/* End of b7*/


.footer{
    background-color: #e5e5e5;
    height: auto;
    width: 100%;
    text-align: center;
}
.footer .zx{
    margin: 0% auto;
    text-align: center;
    display: inline;
}
.footer .zx a{
    color: cadetblue;
    
}
.footer .zx a:first-child{
    margin-right: 15px !important;
}
.footer .zx p{
    font-size: 15px;
    font-weight: lighter;
    padding-top: 22px;
}
.footer .bre{
    height: auto;
    padding-bottom: 50px;
    max-width: 176px;
    margin: 0% auto;
    word-break: break-all;
}

.footer .bre a{
    color: #cc337a;
    text-decoration-line: none;
    border: none;
}
.footer .bre a:hover{
    color: #053467;
}
@media screen and (max-width:289px){
    .s13 #sa {
        font-size: 24px;}
}

/********************************************************/
/*End of Footer*/